.card {
  max-width: 320px;
  width: 100%;
  &:first-child > .card__group > .card__container {
    & > .card__front,
    .card__back {
      border-bottom-left-radius: 50px;
      & > .card__title {
        width: 98%;
        margin-left: auto;
      }
    }
  }

  &:last-child > .card__group > .card__container {
    & > .card__front,
    .card__back {
      border-top-right-radius: 50px;
      & > .card__title {
        width: 98%;
        margin-right: 10px;
        border-top-right-radius: 50px;
      }
    }
  }
}
