.card {
  max-width: 320px;
  width: 100%;
  &:first-child > .card__group > .card__container {
    & > .card__front,
    .card__back {
      border-bottom-left-radius: 50px;
      @media screen and (max-width: 768px) {
        border-radius: 0%;
      }
      & > .card__title {
        width: 98%;
        margin-left: auto;
        @media screen and (max-width: 768px) {
          border-radius: 0%;
          width: 100%;
          margin-left: 0;
        }
      }
    }
  }

  &:last-child > .card__group > .card__container {
    & > .card__front,
    .card__back {
      border-top-right-radius: 50px;
      @media screen and (max-width: 768px) {
        border-radius: 0%;
      }
      & > .card__title {
        width: 98%;
        margin-right: 10px;
        border-top-right-radius: 50px;
        @media screen and (max-width: 768px) {
          border-radius: 0%;
          width: 100%;
          margin-right: 0;
        }
      }
    }
  }
}

.vacancy__list {
  display: block;
  overflow: auto;
  -ms-overflow-style: none;
  scrollbar-width: none;
  &::-webkit-scrollbar {
    width: 0;
    height: 0;
  }
}

@-moz-document url-prefix() {
  .card__container {
    backface-visibility: hidden;
  }
  .card__hidden {
    z-index: 0;
  }
  .card__visible {
    z-index: 10;
  }
}
