.study {
  height: 100vh;
  width: 100%;
  z-index: 1;
  position: relative;
  &::after {
    content: '';
    position: fixed;
    z-index: -1;
    width: 50%;
    height: 100%;
    background-image: url('../../assets/images/studyRegister.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    top: 0;
    left: 0;
  }
}
.blur {
  background: linear-gradient(270deg, #000000 50%, rgba(0, 0, 0, 0) 100%);
  height: 100vh;
  width: 100%;
  z-index: 15;
  position: fixed;
  top: 0;
  left: 0;
}
